body{
  background: beige;
  font-family:Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

select{
  margin: 10px;
  width: max-content;
  min-height: 30px;
}

.divisions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.divisionTable{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

table th, table td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

table thead {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}
